
<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h5 class=" title">100 Awesome Nucleo Icons</h5>
            <p class=" category">
              Handcrafted by our friends from
              <a href="https://nucleoapp.com/?ref=1712"> NucleoApp </a>
            </p>
         
      
      
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Job Name</th>
          <th scope="col">Area</th>
          <th scope="col">Population</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of searchResults; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
           
            <ngb-highlight [result]="result.title" [term]="filter.value"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="result.description" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="result.remote_ok " [term]="filter.value"></ngb-highlight></td>
        </tr>
        </tbody>
      </table>
       
          </div>
        </div>
      </div>
    </div>
  </div>
  

